<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Movieo.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <userSettings>
        <Movieo.My.MySettings>
            <setting name="NotifNumbers" serializeAs="String">
                <value />
            </setting>
            <setting name="doTheme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="doWatchedMovies" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="doFullScr" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="doDownloadBtn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="doUserComments" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="doBackupDb" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="doAutoUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="doOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="doRatingOnPoster" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="doQualityOnPoster" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="listLastWatched" serializeAs="String">
                <value />
            </setting>
            <setting name="firstStart" serializeAs="String">
                <value>False</value>
            </setting>
        </Movieo.My.MySettings>
    </userSettings>
</configuration>
